<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>948330526915-13aloq413k34tpdmqvschk1dsk1h12ug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948330526915-13aloq413k34tpdmqvschk1dsk1h12ug</string>
	<key>API_KEY</key>
	<string>AIzaSyCdFY_JvvglnNVWoNURF7YAgByGk5gBWDM</string>
	<key>GCM_SENDER_ID</key>
	<string>948330526915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appiffic.devslopes-social</string>
	<key>PROJECT_ID</key>
	<string>devslopessocial-9420c</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopessocial-9420c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:948330526915:ios:c0e542b92441aeb1</string>
	<key>DATABASE_URL</key>
	<string>https://devslopessocial-9420c.firebaseio.com</string>
</dict>
</plist>